<div class="selection" fxLayout="column" fxLayoutAlign="space-between center" fxFill>
  <div class="selection-text">
    <p class="selection-title">FÉLICITATIONS!</p>
    <p class="selection-subtitle">Vous êtes magnifique</p>
  </div>
  <div>
    <img [src]="'assets/img/' + animal + '/' +img +'.png'">
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary">On rejoue ?</button>
    <button mat-button>non, merci</button>
  </div>

</div>
