.selection-text {
  text-align: center;
}

.selection-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 32px;
}

.selection-subtitle {
  font-size: large;
  font-weight: bold;
  margin-bottom: 32px;
}

.selection {
  padding: 64px 64px 32px 64px;
}


